{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
    <div class="row">
        <div class="offset-5 col-xs-2">
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        </div>
    </div>
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="list-unstyled alert-list">
        {%- for error in errors -%}
            <li class="alert alert-danger">{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{% block _trick_images_entry_widget %}
    {% if hidden is defined and hidden %}
        <span class="d-none">
        {{ form_widget(form.file) }}
        </span>
    {% else %}
        {{ form_widget(form.file) }}
    {% endif %}
{% endblock %}

{% block _trick_videos_entry_widget %}
    {%
        set placeholder =
            '<iframe width="560" height="315" src="https://www.youtube.com/embed/xxxxxxxxx" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>'
    %}

    {% if hidden is defined and hidden %}
        <span class="d-none">
        {{ form_widget(form.tag, {'attr': {'placeholder': placeholder}}) }}
        </span>
    {% else %}
        {{ form_widget(form.tag, {'attr': {'placeholder': placeholder}}) }}
    {% endif %}
{% endblock %}

{% block video_widget %}
    {{ form_widget(form.tag) }}
{% endblock %}

{% block image_widget %}
    {{ form_widget(form.file) }}
{% endblock %}

{% block file_widget %}
<label class="custom-file">
    <input type="file" {{ block('widget_attributes') }} class="custom-file-input">
    <span class="custom-file-control form-control-file"></span>
</label>
{% endblock %}

{% block text_widget %}
    <input type="text" {{ block('widget_attributes') }} {% if placeholder is defined %}placeholder="{{ placeholder }}" {% endif %} value="{{ value }}">
{% endblock %}
