{% form_theme form 'form/fields.html.twig' %}

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
    <div class="form-row">
        <div class="col-md-7">
            {% if not form.vars.data.id %}
                <div class="form-group col-sm-6">
                    <div>
                        {{ form_label(form.name, null, {
                            'label': 'Nom',
                            'label_attr': {'class': 'control-label'}
                        }) }}
                    </div>
                    <div>
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            {% endif %}
                <div class="form-group col-lg-12">
                    <div>
                        {{ form_label(form.description, null, {
                            'label': 'Description',
                            'label_attr': {'class': 'control-label'}
                        }) }}
                    </div>
                    <div>
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
        </div>
        <div class="form-group col-md-5">
            <div>
                {{ form_label(form.category, null, {
                    'label': 'Catégorie',
                    'label_attr': {'class': 'control-label'}
                }) }}
            </div>
            <div>
                {{ form_errors(form.category) }}
                {{ form_widget(form.category) }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div>
                {{ form_label(form.images, null, {
                    'label': 'Images',
                    'label_attr': {'class': 'control-label'}
                }) }}
            </div>
            <ul class="images list-unstyled" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            {% for i, image in form.images %}
                {{ form_errors(image.file) }}
                <li>
                    {% if image.vars.data.id is not null %}
                        <img class="img-responsive" src="{{ asset(trick_image_directory ~ image.vars.data.name) }}" alt="">
                        {{ form_widget(image, {'hidden': true}) }}
                    {% else %}
                        {{ form_widget(image) }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="form-group col-md-6">
            <div>
                {{ form_label(form.videos, null, {
                    'label': 'Vidéos',
                    'label_attr': {'class': 'control-label'}
                }) }}
            </div>
            <ul class="videos list-unstyled" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {% for i, video in form.videos %}
                    {{ form_errors(video.tag) }}
                    <li>
                    {% if video.vars.data.id is not null %}
                        <embed class="embed-responsive-item" src="{{ video.vars.data.link }}" />
                        {{ form_widget(video, {'hidden': true}) }}
                    {% else %}
                        {{ form_widget(video) }}
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
        <button class="btn btn-primary" type="submit"><i class="fa fa-pencil"></i> {% if form.vars.data.id %}Modifier{% else %}Ajouter{% endif %}</button>
        {{ form_end(form) }}
</div>
