{% extends 'primary.html.twig' %}

{% block title %}
    {{ parent() }} - Bienvenue
{% endblock %}

{% block content %}
    <section class="bg-light" id="tricks">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            {% for message in app.flashes('success') %}
              <div class="alert alert-success">
                  {{ message }}
              </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
              <div class="alert alert-danger">
                  {{ message }}
              </div>
            {% endfor %}
            <h2 class="section-heading text-uppercase" id="tricks">Liste des figures</h2>
            <h3 class="section-subheading text-muted">Elles sont toutes répertoriées ici</h3>
          </div>
        </div>

        <div class="row">
        {% for trick in tricks %}
          <div class="col-md-4 col-sm-6 portfolio-item">
              <!--
              <img class="img-fluid" src="{{ asset('uploads/tricks/' ~ trick.images.first.name) }}" alt="">
              <div class="portfolio-caption">

                <h4>
                    <form class="view-link" action="{{ path('trick_view', {'slug': trick.slug}) }}" method="post">
                      <button type="submit" name="page" value="{{ page }}" class="btn-link">{{ trick.name | upper }}</button>
                    </form>
                    <div class="pull-right">
                    <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-primary">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" class="btn btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    </div>
                </h4>
                -->
                <a class="portfolio-link" href="{{ path('trick_view', {'slug': trick.slug}) }}">
                    <img class="img-fluid" src="{{ asset('uploads/tricks/' ~ trick.images.first.name) }}" alt="">
                    <div class="portfolio-caption">
                      <h4 class="trick-title">{{ trick.name | upper }}</h4>
                      <div class="management-btns">
                          <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </a>
                          <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" class="btn btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                      </div>
                      <h3 class="section-subheading text-muted">{{ trick.description }}</h3>
                    </div>
                </a>
              </div>
        {% endfor %}
        </div>

        {% set last_page = ((tricks|length)/index_amount_per_page)|round(0, 'ceil') %}
        {% if last_page != 1 %}
        <div class="row">
            <div class="mx-auto">
            {% set left_end = page - (index_range/2)|round(0, 'floor') %}
            {% set right_end = page + (index_range/2)|round(0, 'floor') %}
            {% if left_end < 1 %}
                {% set left_end = 1 %}
                {% if last_page < index_range %}
                    {% set right_end = last_page %}
                {% else %}
                    {% set right_end = index_range %}
                {% endif %}
            {% elseif right_end > last_page %}
                {% set right_end = last_page %}
                {% set left_end = last_page - index_range + 1 %}
                {% if left_end < 1 %}
                    {% set left_end = 1 %}
                {% endif %}
            {% endif %}
            <nav>
                <ul class="pagination">
                    <li class="page-item{% if page == 1 %} disabled{%endif%}">
                        <a class="page-link" href="{{ path('trick_index', {'page': 1}) }}#tricks">
                            <i class="fa fa-fast-backward" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="page-item{% if page == 1 %} disabled{%endif%}">
                        <a class="page-link" href="
                            {% if page == 1 %}
                                {{ path('trick_index', {'page': 1}) }}
                            {% else %}
                                {{ path('trick_index', {'page': 1}) }}
                            {% endif %}
                        #tricks">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% for i in range(left_end, right_end) %}
                        <li class="page-item{% if i == page %} active{%endif%}">
                            <a class="page-link" href="{{ path('trick_index', {'page': i}) }}#tricks">
                                {{ i }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="page-item{% if page == last_page %} disabled{%endif%}">
                        <a class="page-link" href="{{ path('trick_index', {'page': page + 1}) }}#tricks">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="page-item{% if page == last_page %} disabled{%endif%}">
                        <a class="page-link" href="{{ path('trick_index', {'page': last_page}) }}#tricks">
                            <i class="fa fa-fast-forward" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
        {% endif%}

      </div>
    </section>
{% endblock %}
