{% extends 'secondary.html.twig' %}

{% block title %}
    {{ parent() ~ '- ' ~ trick.name }}
{% endblock %}

{% block content %}
    <section class="bg-light" id="tricks">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
              <div class="alert alert-danger">
                  {{ message }}
              </div>
            {% endfor %}
            <h2 class="section-heading text-uppercase">{{ trick.name | upper }}</h2>
            <h3 class="section-subheading text-muted">{{ trick.category.name | upper }}</h3>
          </div>
          <div class="col-lg-12 text-center">
              <p>{{ trick.description }}</p>
          </div>
        </div>
        <div class="row">
            {% for image in trick.images %}
                <div class="col-lg-12 text-center trick-media">
                  <img class="img-fluid" src="{{ asset(trick_image_directory ~ image.name) }}" alt="">
                </div>
             {% endfor %}
             {% for video in trick.videos %}
                <div class="col-lg-12 text-center trick-media">
                    <embed class="embed-responsive-item" src="{{ video.link }}" />
                </div>
              {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 btns">
                <p class="text-center">
                    {% if app.request.headers.get('referer')
                        matches '#^' ~ url('trick_index', {'page': 1})|trim('/1') ~ '\d*$#' %}
                        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info">
                    {% else %}
                        <a href="{{ path('trick_index', {'page': 1}) }}" class="btn btn-info">
                    {% endif %}
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    Retour à la liste
                  </a>
                  {% if is_granted('ROLE_USER') %}
                  <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Modifier la figure
                  </a>
                  <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Supprimer la figure
                  </a>
                  {% endif %}
              </p>
            </div>
        </div>
      </div>
    </section>

    <section id="thread">
        {{ render(controller(
            'CommunityBundle:Message:list',
            { 'page': app.request.query.get('page') }
        )) }}
    </section>

{% endblock %}
